/* login page*/
h1 {
    color: #fff !important;
}
body {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .wrapper {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
  }
  h4 {
    margin-bottom: 20px;
  }
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }
  .input-box input {
    width: 80%;
    padding: 15px 20px 15px 50px;
    border: none;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  .input-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }
  button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background: #2575fc;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  .register-link {
    margin-top: 15px;
    font-size: 14px;
  }
  .register-link a {
    color: #6a11cb;
    text-decoration: none;
    font-weight: bold;
  }
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  /* register page*/
  
  h4 {
    margin-bottom: 20px;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-box input,
  .input-box select {
    width: 80%;
    padding: 15px 20px 15px 50px;
    border: none;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    appearance: none;
  }
  
  .input-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }
  
  .input-box select option {
    color: #000;
  }
  
  button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background: #6a11cb;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-link {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .login-link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .error {
    color: #ffbdbd;
    margin-bottom: 10px;
  }
  
  .success {
    color: #baffc9;
    margin-bottom: 10px;
  }
  
  
  .brand{
    display: inline-block;
  }